.product__cart-add {
	background-color: #FFFAF4;
	text-align: center;
	padding-top: 12px;
}
.product__cart-add__title {
	margin: auto;
	width: 260px;
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #000000;
	flex: none;
}
.product__cart-add__subtitle {
	margin: auto;
	width: 260px;
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #444444;
	flex: none;
}
.product__cart-add__progressbar {
	width: 286px;
	height: 26px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-top: 10px;
	margin-left: 22px;
	margin-right: 22px;
}
.product__cart-add__division {
	margin-top: 20px !important;
	margin-bottom: 8px !important;
	width: 100%;
	height: 0px;
	border: 1px solid rgba(0, 0, 0, 0.04);
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;
}
.product__cart-add__item {
	display: inline;
	margin-left: 7px;
	width: 110px;
	height: 122px;
	padding: 9px;
}
.product__cart-add__item__image {
	display: inline-block;
	width: 110px;
	height: 122px;
}
.product__cart-add__item__description {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	width: 150px;
	font-family: Circular Std;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}
.product__cart-add__item__description__2nd-text {
	margin-top: 6px;
	margin-bottom: 20px;
	width: 150px;
	height: 18px;
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #444444;
}
.product__cart-add__item__description__qty {
	width: 24px;
	height: 16px;
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #444444;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.product__cart-add__item__description__qty-size {
	display: inline;
	margin-left: 6px;
}
.product__cart-add__item__description__qty-size div {
	background-color: #ffffff;
	display: inline;
	padding: 14px 5px;
	font-family: Circular Std;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}
.product__cart-add__item__description__price {
	position: absolute;
	margin-top: -12px;
	right: 16px;
	display: inline;
	background-color: #FFFAF4 !important;
	font-family: Circular Std;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #444444;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.product__cart-add__subtotal {
	display: block;
	height: 48px;
}

.product__cart-add__subtotal p {
	position: absolute;
	display: inline;
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}

.product__cart-add__subtotal p:first-of-type {
	left: 16px;
}

.product__cart-add__subtotal p:last-of-type {
	right: 16px;
}
